
@{
    ViewBag.Title = "How to ...";
}

<div class="page-header">
    <h2>@ViewBag.Title create your meal?</h2>
</div>

@using (Html.BeginForm("Index","SelectCreator")) {
    
    <div class="panel panel-primary">
        <div class="panel-heading">Choose the way you want to get your meal!</div>
            <div class="row">
        <!--Auto creator-->
                <div class="col-lg-3" style="margin: 4%">
                    <a href ="#" class="thumbnail" style="min-height: 425px;text-decoration:none">
                        <img src="~/Content/images/auto_creator.png" alt="Auto creator" />
                        <div class="caption">
                            <h3 class="text-center"><u>Auto creator</u></h3>
                            <p>
                                If you want to spare your time and get astonished,
                                let us, based on you preferences, choose the best meal for you.
                            </p>
                        </div>
                    </a>
                </div>
        <!--Manual creator-->
                <div class="col-lg-3" style="margin: 4%">
                    <a href="#" class="thumbnail" style="min-height: 425px;text-decoration:none">
                        <img src="~/Content/images/manual_creator.png" alt="Manual creator">
                        <div class="caption">
                            <h3 class="text-center"><u>Manual creator</u></h3>
                            <p>
                                If you are very demanding and like to have
                                everything under control, here is something for you.
                            </p>
                        </div>
                    </a>
                </div>
        <!--Standard menu-->
                <div class="col-lg-3" style="margin: 4%">
                    <a href="#" class="thumbnail" style="min-height: 425px;text-decoration:none">
                        <img src="~/Content/images/classic_menu.png" alt="Standard menu">
                        <div class="caption">
                            <h3 class="text-center"><u>Standard menu</u></h3>
                            <p>
                                If you prefer old school and don't like to bother
                                with plenty of different ingredients, go this way.
                            </p>
                        </div>
                    </a>
                </div> 
            </div> <!--row-->
            <div class="row">
                <div class="col-lg-3" style="margin: 4%">
                </div>
                <div class="col-lg-3" style="margin: 4%">
                </div> 
                <div class="col-lg-3 text-center" style="margin: 0% 4% 4% 4%">
                    <input class="btn btn-default" type="submit" value="Continue without a meal reservation" />
                </div> 
            </div> <!--row-->
    </div>
    
}

