@using Utility
@using UtilityMvc
@{
    ViewBag.Title = "Home Page";
}
<div class="da-slider">

    <div class="da-slide">
        <div class="da-img">
            <a href="@Url.Action("Reserve","Reservation")">
                <img src="/Content/images/reservation_1.png" alt="Book your table and meal" height="300" width="300"/>
            </a>
        </div>
        <h3>Book your table and meal</h3>
    </div>

    <div class="da-slide">
            <div class="da-img">
                <a href="@Url.Action("ShowMenu","Menu")">
                    <img src="/Content/images/menu_1.png" alt="Menu" height="300" width="300" />
                </a>
            </div>
        <h3>Menu</h3>
    </div>

    <div class="da-slide">
        <div class="da-img">
            <a href="@Url.Action("Contact","Home")">
                <img src="/Content/images/contact_1.png" alt="Contact" height="300" width="300" />
            </a>
        </div>
        <h3>Contact</h3>
    </div>

    <!-- ... -->

    <nav class="da-arrows">
        <span class="da-arrows-prev"></span>
        <span class="da-arrows-next"></span>
    </nav>

</div>

<script>
    $(function() {
        $('.da-slider').cslider({
            current: 0,
            // index of current slide

            bgincrement: 50,
            // increment the background position 
            // (parallax effect) when sliding

            autoplay: false,
            // slideshow on / off

            interval: 4000
            // time between transitions

        });
    });
</script>


<div class="row container">
    <h3>Some useful informations</h3>
    <p>
        This is website was made for IT application Project by Rafal Straszewski, Kamil Burda, Dawid Jachowicz and Tomasz Grochmal.
        The main goal of this service is to allow customer make reservations of tables and meals.
        The innovative part is algorithm which sugest meal according to user preferences.
    </p>
    <button class="btn btn-primary" data-bind="click: onclick">Test</button>
</div>

@(Html.CreateJsViewModel()
    .Container(".container")
    .ViewModelName("Home"))