@using ReservationDomain.Model
@using Utility

@{
    ViewBag.Title = "DrinkGrid";
}

<h2>DrinkGrid</h2>
<div class="show-drink-container" >
    <div class="panel">
        @(Html.Kendo().Grid<Drink>()
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.Id).Hidden();
            columns.Bound(p => p.Name);
            columns.Bound(p => p.DrinkType);
            columns.Bound(p => p.Price);
            columns.Command(command =>
                {
                    command.Edit();
                    command.Destroy();
                }).Width(172);
        })
         .ToolBar(toolbar => toolbar.Create())
              .Editable(editable => editable.Mode(GridEditMode.InLine))
              .Pageable()
              .Sortable()
              .Selectable()
              .Scrollable()
              .HtmlAttributes(new { style = "height:430px;" })
              .DataSource(dataSource => dataSource
                  .Ajax()
                  .PageSize(10)
                  .Model(model => model.Id(p => p.Id))
                          .Create(update => update.Action("CreateDrink", "Drink"))
                          .Read(read => read.Action("GetDrink", "Drink").Type(HttpVerbs.Get))
                          .Update(update => update.Action("UpdateDrink", "Drink"))
                          .Destroy(update => update.Action("DestroyDrink", "Drink"))
              ))
    </div>
</div>

@(Html.CreateJsViewModel()
    .Container(".show-drink-container")
    .ViewModelName("ShowDrink"))
